.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 40%;
}
.containerGamingHistory{
    height: calc(100vh - 275px);
    zoom: 1.25;
}
.responsiveiframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    overflow: auto;
}
.containerMobile {
    position: relative;
    height: 100%;
    overflow: hidden;
    padding-top: 170%;
}
.responsiveiframeMobile {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}